<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main}">
<head>
	<title>Sign In - File Conversion</title>
</head>

<body>
	<div layout:fragment="content">
	
		<div class="d-flex justify-content-center">
	
			<form th:action="@{/signin}" method="post" class="col-5 m-3">
			  <h5 class="card-title text-center">Sign In</h5>
			  <div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your Email" required>
			  </div>
			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" name="password" class="form-control" id="password" placeholder="Enter your Password" required>
			  </div>

			  <button type="submit" class="btn btn-info w-100 mt-2">Sign In</button>
			  
			  <div class="mt-3 text-center">
			  	<a th:href="@{/forgot-password}" class="text-muted">Forgot Password ?</a> <br>
			  	Don’t have an account? <a href="/signup" class="text-muted">Sign Up</a>
			  </div>
			</form>
			
		</div>
	
	</div>
</body>